
/*****************************************************************
    Default
*****************************************************************/

* {
    @include box-sizing(border-box);
}

html {
    font-size: 62.5%;
}

body {
    font-family: $secondary-font-family;
    font-size: $base-font-size;
    color: $base-text-color;
    background: $base-background-color;
    line-height: 1.4;
}

a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(all 0.15s ease-in);

    &:hover {
        color: darken($base-link-color, 10%);
    }
}

h1 {
    @include font-size($h1-size);
    font-weight: 700;
}

h2 {
    @include font-size($h2-size);
    font-weight: 700;
}

h3 {
    @include font-size($h3-size);
    font-weight: 700;
}

h4 {
    @include font-size($h4-size);
    font-weight: 700;
}

h5 {
    @include font-size($h5-size);
    font-weight: 700;
}

h6 {
    @include font-size($h6-size);
    font-weight: 700;
}
h2 {
    @include font-size(30px);
    font-weight: 700;
}

p {

    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 300;
}
#{headings()} {
    font-weight: normal; // Output: h1, h2, h3, h4, h5, h6 { font-weight: normal; }
}
